[submodule "copilotage/shared"]
	path = copilotage/shared
	url = https://github.com/stephanedenis/PaniniFS-CopilotageShared.git
[submodule "PaniniFS-Research"]
	path = PaniniFS-Research
	url = ssh://git@github.com/stephanedenis/PaniniFS-Research.git
